TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [2]:
data = pd.read_csv("Costomer+OrderForm.csv")

In [3]:
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

Ho = customer order forms defective % does not varies by centre
Ha = customer order forms defective % does varies by centre

In [12]:
data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [13]:
data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [14]:
data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [16]:
data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [20]:
array_data = np.array([[271,267,269,280],[29,33,31,20]])

In [22]:
array_data

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [28]:
chi2_contingency(array_data)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [ ]:
#COmpare p_value with the significance value i.e 0.05
# as p_value is greater than alpha value then accept null hypothesis.